parameters:
	ignoreErrors:
		# new static() em factories. A política do projeto é manter o late static
		# binding (sem trocar por new self() nem usar annotations no código fonte).
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Certificate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Certificate/PublicKey.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 5
			path: src/Exception/CertificateException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 4
			path: src/Exception/SignerException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Exception/SoapException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Exception/ValidatorException.php

		# Stubs antigos do PHPStan não declaram as props públicas de SoapHeader.
		-
			message: "#^Access to an undefined property SoapHeader\\:\\:\\$data\\.$#"
			count: 1
			path: src/Soap/SoapBase.php

		-
			message: "#^Access to an undefined property SoapHeader\\:\\:\\$name\\.$#"
			count: 2
			path: src/Soap/SoapBase.php

		-
			message: "#^Access to an undefined property SoapHeader\\:\\:\\$namespace\\.$#"
			count: 1
			path: src/Soap/SoapBase.php
